Received e-mails from ML are always in Junk Emails/Spams folder

Dear all,

There is a problem, e-mails are always going in Junk Emails/Spams folder.

Currently only SPF is supported by the xmpp.org e-mail server.

The current e-mail server does not respect/support several RFCs, can you add it?
- DKIM
- DMARC
- Authenticated Received Chain (ARC)

At the same time, you can add BIMI support too.

The ML configuration can be updated too.

-----------------

All Standards:

RFC 7208: Sender Policy Framework (SPF) for Authorizing Use of Domains in Email, Version 1
- https://datatracker.ietf.org/doc/html/rfc7208

RFC 6376: DomainKeys Identified Mail (DKIM) Signatures
- https://datatracker.ietf.org/doc/html/rfc6376

RFC 7489: Domain-based Message Authentication, Reporting, and Conformance (DMARC)
- https://datatracker.ietf.org/doc/html/rfc7489

RFC 8617: The Authenticated Received Chain (ARC) Protocol
- https://datatracker.ietf.org/doc/html/rfc8617

I-Draft: Brand Indicators for Message Identification (BIMI)
- https://datatracker.ietf.org/doc/draft-brand-indicators-for-message-identification/
- https://bimigroup.org/

-----------------

To test:
- https://mxtoolbox.com/SuperTool.aspx

Thanks in advance.

Linked to:
- https://github.com/xsf/xmpp.org/issues/1594